:root{
	--back-color: #ffffff;
	--main-color: #ff4e4e;
	--botao-color: #ff1717;
	--hover-color: #ff8a00;
	--boletim-color: #e9e9e9;
	--main-font: #000000;
	--boletim-font: #111111;
	--form-font: #3e3e3e;
	--form-color: #c5c5c5;	
}